@tailwind preflight;
@tailwind components;

// Code syntax highlighting,
// powered by https://highlightjs.org
// Using Dracula theme for dark mode
@import '~highlight.js/styles/dracula.css';

@import 'base';
@import 'navigation';
@import 'mailchimp';
@import 'blog';

@tailwind utilities;
